.backup
bundle/ack.vim/
bundle/Cleanroom/
bundle/closetag.vim/
bundle/csapprox/
bundle/ctrlp.vim/
bundle/delimitMate/
bundle/FuzzyFinder/
bundle/gitv/
bundle/gundo.vim/
bundle/javacomplete/
bundle/jellybeans.vim/
bundle/L9/
bundle/molokai/
bundle/nerdcommenter/
bundle/nerdtree/
bundle/python-mode/
bundle/status.vim/
bundle/syntastic/
bundle/tagbar/
bundle/UltiSnips/
bundle/velocity.vim/
bundle/vim-align/
bundle/vim-colors-solarized/
bundle/vim-easymotion/
bundle/vim-eddie/
bundle/vim-fugitive/
bundle/vim-indent-guides/
bundle/vim-indent-object/
bundle/vim-pep8/
bundle/vim-pyte/
bundle/vim-repeat/
bundle/vim-surround/
bundle/vim-twilight/
bundle/vydark/
bundle/zenburn.vim/
bundle/zencoding-vim/
bundle/ZoomWin/
.swap
.undo
